<ion-app>
  <div style='margin: 15px'>
    <h1>Hello SodyoSDK</h1>

    <button (click)='handleClick()' style='background: #1da732; padding: 16px; margin-bottom: 16px;'>Run scanner</button>
    <button (click)='handleOpenLastMarker()' style='background: #5491fc;padding: 16px;'>Open last marker</button>

    <div style='margin-top: 15px'>
      <p>isReady: {{isReady}}</p>
      <p>initErr: {{initErr}}</p>
      <p>sodyoErr: {{sodyoErr}}</p>
      <p>immediateData: {{immediateData}}</p>
      <p>scannerErr: {{scannerErr}}</p>
      <p>scannerErr: {{scannerErr}}</p>
      <p>sodyoEvent: {{sodyoEvent}}</p>
      <p>lastMarkerId: {{lastMarkerId}}</p>
    </div>
  </div>
</ion-app>
